### Inquiry 1
How do the total number of rentals for each family-friendly genre compare to the average total number of rentals across all genres?

*Show each family friendly genre and the number of rental instances for each.*

``` mysql
SELECT category, SUM(rental_count) AS total_rentals
FROM (SELECT f.title, c.name AS category, COUNT(r.rental_id) AS rental_count
      FROM category c
      JOIN film_category fc
      ON c.category_id = fc.category_id
      JOIN film f
      ON f.film_id = fc.film_id
      JOIN inventory i
      ON f.film_id = i.film_id
      JOIN rental r
      ON i.inventory_id = r.inventory_id
      WHERE c.name IN ('Animation', 'Children', 'Classics', 'Comedy', 'Family', 'Music')
      GROUP BY 1, 2) fam_movies
GROUP BY 1
```

*Show average total rentals across all genres.*

``` mysql
WITH base AS (SELECT category, SUM(rental_count) AS total_rentals
              FROM (SELECT f.title, c.name AS category, COUNT(r.rental_id) AS rental_count
              FROM category c
              JOIN film_category fc
              ON c.category_id = fc.category_id
              JOIN film f
              ON f.film_id = fc.film_id
              JOIN inventory i
              ON f.film_id = i.film_id
              JOIN rental r
              ON i.inventory_id = r.inventory_id
              GROUP BY 1, 2) fam_movies
              GROUP BY 1)
SELECT AVG(total_rentals)
FROM base
```

### Inquiry 2
All payment dates are from 2007. How do the two storesâ€™ running revenues compare over the 2007 year?